<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .test1{
            width: 100px;
            height: 100px;
            background: #00B7FF;
            border: #3f36c9 1px solid ;
            position: relative;
            left: 0;
            top: 100px;
        }
        .test2{
            width: 100px;
            height: 100px;
            background: #ff538a;
            border: #6ed74d 1px solid ;
            position: relative;
            left: 0;
            top: -50px;
        }
    </style>
</head>
<body style="margin: 0">
    <div class="test1"></div>
    <div class="test2"></div>

</body>
</html>